---
---

@import 'modular-scale';
$ms-base: 1em;
$ms-ratio: 1.25;

@import 'settings';
@import 'foundation';

//@import 'slick';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;


/* /////////////////////////////////////////////////////////
 * Base
 * /////////////////////////////////////////////////////////*/

h1, h2, h3, h4 {
  margin: 1.414em 0 0;
}

h1 {
  margin-top: 0;
  font-size: ms(4);
}

h2 {font-size: ms(3);}

h3 {font-size: ms(2);}

h4 {font-size: ms(1);}

small, .font_small {font-size: 0.8em;}

body, h1, h2, h3, h4, h5, h6 {
    font-family: $body-font-family-fb;
    letter-spacing: 0.3px;
}

.wf-active {
    body, h1, h2, h3, h4, h5, h6 {
        font-family: $body-font-family;
        letter-spacing: 0;
    }
}

body {
    //padding-top: 24rem;
    background: $xlight-gray;
}

ul {
    list-style: circle;
}

p + ul {
    margin-top: -1.3em;
}


/* /////////////////////////////////////////////////
 * Hero
 * //////////////////////////////////////////////*/

.page-hero {
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    height: 640px;
    background-color: $light-gray;
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

/* /////////////////////////////////////////////////
 * Header
 * //////////////////////////////////////////////*/

.site-header-wrapper {

    //background: $white;
    //transition: transform 0.2s linear;

    @include breakpoint(large) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

.site-header-wrapper--hidden {
    position: fixed;
    transform: translateY(-71px);
    background: rgba(255,255,255,0.9);
}

.site-header {
    @include grid-row;
    //padding-top: 0.5rem;

}

.site-header__logo {
    //@include grid-column(1);
    //float: left;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.site-header__menu {
    @include grid-column(10);
    //margin-top: 1rem;
    background: $black;
}

.site-header__list {
    display: none;
    margin: 0;
    padding: 0;

    @include breakpoint(large) {
        display: inline-block;
    }
}

.site-header__item {
    display: inline-block;
}

.site-header__link {
    display: block;
    color: $white;
    padding: 0.25em 0.5em;
    &:hover {
        background: $white;
        color: $black;
    }
}

.site-header__link--active {
    color: $black;
    background: $accent-color;
    &:hover, &:focus {
        color: $black;
    }
}

.site-header__langs {
    display: none;

    @include breakpoint(large) {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: ms(-2);
        text-transform: uppercase;
        vertical-align: middle;
    }
}

.site-header__lang {
    display: inline-block;
    margin-right: 0.5em;
    border: 1px solid transparent;
    border-radius: 100%;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
}

.site-header__lang-link {
   color: $white;
    &:hover, &:focus {
        color: $white;
    }
}

.it .it, .en .en {
    border-color: $white;
}


/* /////////////////////////////////////////////////////////
 * Main
 * /////////////////////////////////////////////////////////*/

.main {
    @include grid-row;
    padding-bottom: 4rem;
    min-height: 100vh;
    background: $white;
    transition: background 0.8s ease-in-out;
}


/* /////////////////////////////////////////////////////////
 * Main | Left sidebar
 * /////////////////////////////////////////////////////////*/

.left-sidebar {
    @include grid-column;
    //font-size: ms(0);
    font-family: monospace;
    //transition: transform 0.3s ease-in-out;
    @include breakpoint(large) {
        width: 14rem;
        padding-top: 0;
        position: absolute;
        top: 0;
        transform: translateY(32rem);
    }
}

.wf-active .left-sidebar {
    font-family: "Space Mono", monospace;
    font-size: ms(-1);
}

.left-sidebar--top {
    position: fixed;
    transform: translateY(8rem);
}

.left-sidebar__title {
    margin: 0 0 0.5rem;
    font-family: monospace;
    font-size: ms(0);
    font-weight: 400;
}

.wf-active .left-sidebar__title {
    font-family: "Space Mono", monospace;
    //font-size: ms(0);
}

.left-sidebar__link {
    position: relative;
    padding: 0.375rem 0 !important;
    line-height: 1.2 !important;
}

.left-sidebar__link--active {
    &:before {
        content: '\29BF';
        position: absolute;
        margin-left: -16px;
        font-size: 18px;
        top: 50%;
        transform: translateY(-50%);
    }
}


/* /////////////////////////////////////////////////////////
 * Main | Content
 * /////////////////////////////////////////////////////////*/

.main__content {
    padding-top: 1.5rem;
    @include grid-column;
    @include breakpoint(large) {
        @include grid-column(6);
        @include grid-column-offset(2);
    }
    h1 {
        margin-top: - ms(0);
        font-size: ms(6);
        line-height: 1;
        //font-weight: 500;
    }
    a {
        color: $dark-gray;
        text-decoration: underline;
        &:hover {
            color: $black;
        }
    }
    em, i {
        color: $dark-gray;
    }
    img {
        margin-bottom: 0.5rem;
        padding-top: 0.25rem;
    }
    iframe {
        width: 100%;
        border: 1px solid lightgrey;
        height: 20rem;
    }
    table {
        width: 100%;
        font-size: ms(-1);
    }
    th, td {
        text-align: left !important;
    }
}


/* /////////////////////////////////////////////////////////
 * Footer
 * /////////////////////////////////////////////////////////*/

.site-footer {
    @include grid-column-row;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: $xlight-gray;
    font-size: ms(-1);

    @include breakpoint(large) {
        position: absolute;
        left: 0;
        bottom: 0;
        background: none;
        z-index: 2;
    }
}

.site-footer__list{
    margin: 0;
    padding: 0;
}

.site-footer__item {
    display: inline-block;
}

.site-footer__link {
    display: block;
    color: $dark-gray;
    padding: 0.25em 0;
    margin-right: 1em;

    &:hover {
        color: $black;
    }

    @include breakpoint(large) {
        color: $xlight-gray;

        &:hover {
            color: $white;
        }
    }
}

.site-footer__link--active {
    text-decoration: line-through;
}



/* /////////////////////////////////////////////////
 * Svg icons
 * //////////////////////////////////////////////*/

.svg-icon {
    display: inline-block;
    width: 1.5em;
    margin-right: 2px;
    vertical-align: middle;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $black;
}

.svg-icon circle {
  stroke: $black;
  stroke-width: 1;
}



/*


.site-header {
    position: fixed;
    top: 1rem;
    left: 0;
    right: 0;
    z-index: 2;

    &__menu {
        background: transparent;
        padding: 0;
        font-size: 14px;
        padding: 0;
    }
}

.site-header__logo {
    //display: none;
            display: inline-block;
    vertical-align: middle;
    float: none;
    padding: 0;
        margin-right: 0.5rem;

    a {
        display: block;
    }

}

.site-header__langs {
    float: right;
    padding-top: 22px;
}
*/



/* /////////////////////////////////////////////////
 * Sidebar
 * //////////////////////////////////////////////*/

.sidebar {
    padding: 1rem;
    background: #212121;
    color: #fff;

    @include breakpoint(large) {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        overflow: hidden;
        left: 0;
        right: 60%;
        padding: 20vh 4vw 0;
    }
}

.sidebar__main-title {
    margin: 0 0 1rem;
    font-weight: 300;
    font-size: 2rem;

    @include breakpoint(large) {
        margin: 0 0 3rem;
        font-size: 39px;
    }
}

.sidebar__actions {
    display: flex;

    @include breakpoint(large) {
         display: block;
    }
}

.sidebar__action {
    margin: 0;
    padding: 4px;
    font-weight: 300;
    font-size: 1rem;
//        cursor: pointer;
//        display: inline-block;
//        float: left;
//        clear: both;

//    &:hover {
//        background: #fff;
//        color: #212121;
//    }

    @include breakpoint(large) {
        display: block;
        font-size: 26px;
    }
}

.sidebar__content {
    @include breakpoint(large) {
        height: 100%;
    }
}



/* /////////////////////////////////////////////////
 * Slideshow
 * //////////////////////////////////////////////*/

.slideshow-container {
    @include breakpoint(large) {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        overflow: hidden;
        left: 40%;
        right: 0;
        //padding: 20vh 4vw 0;
    }
}

.slideshow__item {
    background-image: url("../img/stilllife02.jpg");
    background-size: cover;
    background-position: center center;
    height: 60vh;

    @include breakpoint(large) {
        height: 100vh;
    }
}

.slideshow__item1 {
    background-image: url("../img/image19.jpg");
}

.slideshow__item2 {
    background-image: url("../img/Gatefold.jpg");
}

.slideshow__item3 {
    background-image: url("https://source.unsplash.com/random");
}







.is-playing {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }






