---
---

@import 'modular-scale';
$ms-base: 1em;
$ms-ratio: 1.25;

@import 'settings';
@import 'foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;


/* /////////////////////////////////////////////////////////
 * Base
 * /////////////////////////////////////////////////////////*/

h1, h2, h3, h4 {
  margin: 1.414em 0 0;
}

h1 {
  margin-top: 0;
  font-size: ms(4);
}

h2 {font-size: ms(3);}

h3 {font-size: ms(2);}

h4 {font-size: ms(1);}

small, .font_small {font-size: 0.8em;}

body, h1, h2, h3, h4, h5, h6 {
    font-family: $body-font-family-fb;
    letter-spacing: 0.3px;
}

.wf-active {
    body, h1, h2, h3, h4, h5, h6 {
        font-family: $body-font-family;
        letter-spacing: 0;
    }
}

body {
    padding-top: 24rem;
    background: $xlight-gray;
}

ul {
    list-style: circle;
}

p + ul {
    margin-top: -1.3em;
}


/* /////////////////////////////////////////////////
 * Hero
 * //////////////////////////////////////////////*/

.page-hero {
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    height: 640px;
    background-color: $light-gray;
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

/* /////////////////////////////////////////////////
 * Header
 * //////////////////////////////////////////////*/

.site-header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $white;
    //transition: transform 0.2s linear;
}

.site-header-wrapper--hidden {
    position: fixed;
    transform: translateY(-71px);
    background: rgba(255,255,255,0.9);
}

.site-header {
    @include grid-row;
    //padding-top: 0.5rem;

}

.site-header__logo {
    //@include grid-column(1);
    float: left;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.site-header__menu {
    @include grid-column(10);
    //margin-top: 1rem;
    background: $black;
}

.site-header__list {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.site-header__item {
    display: inline-block;
}

.site-header__link {
    display: block;
    color: $white;
    padding: 0.25em 0.5em;
    &:hover {
        background: $white;
        color: $black;
    }
}

.site-header__link--active {
    color: $black;
    background: $accent-color;
    &:hover, &:focus {
        color: $black;
    }
}

.site-header__langs {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: ms(-2);
    text-transform: uppercase;
    vertical-align: middle;
}

.site-header__lang {
    display: inline-block;
    margin-right: 0.5em;
    border: 1px solid transparent;
    border-radius: 100%;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
}

.site-header__lang-link {
   color: $white;
    &:hover, &:focus {
        color: $white;
    }
}

.it .it, .en .en {
    border-color: $white;
}


/* /////////////////////////////////////////////////////////
 * Main
 * /////////////////////////////////////////////////////////*/

.main {
    @include grid-row;
    padding-bottom: 4rem;
    background: $white;
    transition: background 0.8s ease-in-out;
}


/* /////////////////////////////////////////////////////////
 * Main | Left sidebar
 * /////////////////////////////////////////////////////////*/

.left-sidebar {
    @include grid-column;
    //font-size: ms(0);
    font-family: monospace;
    //transition: transform 0.3s ease-in-out;
    @include breakpoint(large) {
        width: 14rem;
        padding-top: 0;
        position: absolute;
        top: 0;
        transform: translateY(32rem);
    }
}

.wf-active .left-sidebar {
    font-family: "Space Mono", monospace;
    font-size: ms(-1);
}

.left-sidebar--top {
    position: fixed;
    transform: translateY(8rem);
}

.left-sidebar__title {
    margin: 0 0 0.5rem;
    font-family: monospace;
    font-size: ms(0);
    font-weight: 400;
}

.wf-active .left-sidebar__title {
    font-family: "Space Mono", monospace;
    //font-size: ms(0);
}

.left-sidebar__link {
    position: relative;
    padding: 0.375rem 0 !important;
    line-height: 1.2 !important;
}

.left-sidebar__link--active {
    &:before {
        content: '\29BF';
        position: absolute;
        margin-left: -16px;
        font-size: 18px;
        top: 50%;
        transform: translateY(-50%);
    }
}


/* /////////////////////////////////////////////////////////
 * Main | Content
 * /////////////////////////////////////////////////////////*/

.main__content {
    padding-top: 1.5rem;
    @include grid-column;
    @include breakpoint(large) {
        @include grid-column(6);
        @include grid-column-offset(2);
    }
    h1 {
        margin-top: - ms(0);
        font-size: ms(6);
        line-height: 1;
        //font-weight: 500;
    }
    a {
        color: $dark-gray;
        text-decoration: underline;
        &:hover {
            color: $black;
        }
    }
    em, i {
        color: $dark-gray;
    }
    img {
        margin-bottom: 0.5rem;
        padding-top: 0.25rem;
    }
    iframe {
        width: 100%;
        border: 1px solid lightgrey;
        height: 20rem;
    }
    table {
        width: 100%;
        font-size: ms(-1);
    }
    th, td {
        text-align: left !important;
    }
}


/* /////////////////////////////////////////////////////////
 * Main | Right sidebar
 * /////////////////////////////////////////////////////////*/

.main__right-sidebar {
    display: none;
//    @include grid-column;
//    & a {
//        display: inline-block;
//        padding: 0.5rem;
//        background: $black;
//        color: $white;
//        border-radius: $global-radius;
//    }
//    & p {
//        margin: 0 0 0.5rem;
//        padding: 0;
//        font-size: 0.75rem;
//    }
//    @include breakpoint(large) {
//        width: 12rem;
//        padding: 0;
//        position: fixed;
//        margin-left: 80%;
//        font-size: 0.875rem;
//    }
//    @include breakpoint(xlarge) {
//        margin-left: 60rem;
//    }
}


/* /////////////////////////////////////////////////////////
 * Footer
 * /////////////////////////////////////////////////////////*/

.site-footer-wrapper {

}

.site-footer {
    @include grid-row;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: ms(-1);
}

.site-footer__list{
    margin: 0;
    padding: 0;
}

.site-footer__item {
    display: inline-block;
}

.site-footer__link {
    display: block;
    color: $black;
    padding: 0.25em 0;
    margin-right: 1em;
    &:hover {
        color: $dark-gray;
    }
}

.site-footer__link--active {
    text-decoration: line-through;
}


/* /////////////////////////////////////////////////////////
 * Specific templates | Home page
 * /////////////////////////////////////////////////////////*/

body.template-home {
    padding: 9.75rem 0 0;
    background: $white;
}

.video-container {
    @include grid-row;
    margin-bottom: 1rem;
}

video {
    max-width: 100%;
}

.video-home {
    @include grid-column(3, 0);
    margin-right: 5%;
    cursor: pointer;
    //transform: scale(0.875);
    &:last-child {
        margin-right: 0;
    }
    &.selected {
        //transform: scale(1);
    }
}

.video-description {
    margin-top: 1.5em;
    font-size: ms(-1);
    .selected & {
        //margin-top: 0;
    }
}

.video-description__title {
    margin: 0 0 0.25em 0;
}

.video-description__link {
    color: $dark-gray;
    text-decoration: underline;
    &:hover {
        color: $black;
    }
}

.video-description__text, .video-description__link {
    display: none;

    .selected & {
        display: block;
    }
}

.video-description__question {
    font-size: ms(1);
    .selected & {
        display: none;
    }
}














.news__list {
    @include grid-row;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.news__item{
    @include grid-column(2);
    padding: 0.25rem 0.5rem 0.75rem 0.25rem !important;
    background: $light-gray;
    font-size: ms(-1);
    line-height: 1.4;
    &:hover {
        background: $white;
    }
}

.news__item:nth-child(odd) {
    background: $xlight-gray;
    &:hover {
        background: $white;
    }
}

.news__date {
    display: inline-block;
    margin-bottom: 2px;
    font-weight: 900;
}

.news__link {
    display: block;
}



.svg-icon {
    display: inline-block;
    width: 1.5em;
    margin-right: 2px;
    vertical-align: middle;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $black;
}

.svg-icon circle {
  stroke: $black;
  stroke-width: 1;
}








