<div class="cc-cookie">
    <div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-banner cc-type-info cc-bottom ">
        <!--googleoff: all--><span id="cookieconsent:desc" class="cc-message">Questo sito tiene traccia di alcuni tuoi dati per offrirti una navigazione migliore. <a aria-label="learn more about cookies" role="button" tabindex="0" class="cc-link" href="/termini-condizioni">Maggiori informazioni</a></span>
        <div class="cc-compliance"><a aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-btn cc-dismiss">Nascondi avviso</a></div>
        <!--googleon: all-->
    </div>
</div>