<div class="site-footer-wrapper">
    <footer class="site-footer">
        <nav class="site-footer__menu">
            <ul class="site-footer__list">
                {% assign pages = site.pages | where:"lang", page.lang | where:"position", "footer" | sort: "index"  %}
                {% assign current = page.url | downcase | split: '/' %}
                {% for page in pages %}
                {% assign page_url = page.url | downcase | split: '/' %}
                {% if page.title %}
                <li class="site-footer__item">
                    <a href="{{site.baseurl}}{{page.url}}" class="site-footer__link{% if page_url == current %} site-footer__link--active{% endif %}">{{ page.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </footer>
</div>

<script type="text/javascript">
    WebFontConfig = {
        google: {
            families: ['Chivo:400,400italic,900:latin','Space Mono']
        }
    };
    (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>
<script src="{{site.baseurl}}/js/vendor/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/vendor/what-input.min.js"></script>
<script src="{{site.baseurl}}/js/vendor/foundation.min.js"></script>
<script src="{{site.baseurl}}/js/app.js"></script>
