
<header class="site-header">
    <div class="site-header__logo">
<!--        <h1>Vinilificio</h1>-->
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/logo.jpg" alt="" style="max-height:82px"></a>
    </div>
    <nav class="site-header__menu">
    <ul>
        {% assign pages = site.pages | sort: "index"  %}
        {% for page in pages %}
        {% if page.title and page.position == "header" %}
        <li>
            <a href="{{site.baseurl}}{{page.url}}">{{ page.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    </nav>
<!--
    <div class="site-header__contact">
        Hai dei dubbi?
        <br> e: info@vinilificio.com
        <br> t: +39 051 4690174 | +39 333 5290168
    </div>
-->
</header>
