
<header class="header">
    <div class="header-logo">
<!--        <h1>Vinilificio</h1>-->
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/logo.jpg" alt="" style="max-height:82px"></a>
    </div>
    <div class="header-menu">
    <ul class="dropdown menu" data-dropdown-menu>
        <li>
            <a href="{{site.baseurl}}/custom-vinyl">Custom Vinyl</a>
            <ul class="menu">
<!--
                <li><a href="#">Audio su vinile <br>(1–10)</a></li>
                <li><a href="#">Vinili in quantità <br>(100+)</a></li>
                <li><a href="#">Audio su cassetta</a></li>
-->
                <li><p class="header-menu__hint">Scopri i nostri servizi: dalla singola copia a grandi quantità, audiocassette, mastering...</p></li>
            </ul>
        </li>
        <li>
            <a href="{{site.baseurl}}/vinyl-press">Vinyl Press</a>
            <ul class="menu">
                <li>
                    <p class="header-menu__hint">Elenco dei prezzi del Vinilificio e informazioni sui tempi di lavorazione e spedizione...</p>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{site.baseurl}}/cassette">Cassette</a>
            <ul class="menu">
<!--
                <li><a href="#">Guide e consigli</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Chi siamo</a></li>
                <li><a href="#">Contatti</a></li>
-->
                <li><p class="header-menu__hint">Scopri di più sul Vinilificio, le domande più frequenti e i consigli per un buon disco... </p></li>
            </ul>
        </li>
    </ul>
    </div>
<!--
    <div class="header-contact">
        Hai dei dubbi?
        <br> e: info@vinilificio.com
        <br> t: +39 051 4690174 | +39 333 5290168
    </div>
-->
</header>
