<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include header.html %}

    <div class="main">
        <div class="jsMainAnchor"></div>
        <div class="main__left-sidebar jsSidebar">
            <h3 class="main__left-title">{{ page.title }}</h3>
            <ul class="menu vertical">
                {% for menuItem in page.menu %}
                <li class="main__left-menu-item"><a href="#{{menuItem.id}}" class="jsSidebarLink">{{ menuItem.titolo }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="main__content">
            {{ content }}
        </div>
        <div class="main__right-sidebar">
            {% assign sidebar_name = page.url | remove: "/" %}
            {% for sidebar in site.sidebars %}
                {% if sidebar_name == sidebar.name %}
                    {{ sidebar.content }}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% include footer.html %}

</body>

</html>
