<!DOCTYPE html>
<html>

{% include head.html %}

<body class="{{ page.lang }}">

    <div class="page-hero" {% if page.hero_img %}style="background-image:url('{{ page.hero_img }}')"{% endif %}></div>

    {% include header.html %}

    <div class="main">
        <div class="jsMainAnchor"></div>
        {% if page.menu %}
        <div class="left-sidebar jsSidebar">
<!--            <h3 class="left-sidebar__title">{{ page.title }}</h3>-->
            <ul class="menu vertical">
                {% for menuItem in page.menu %}
                <li class="left-sidebar__item"><a href="#{{menuItem.id}}" class="left-sidebar__link jsSidebarLink">{{ menuItem.titolo }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="main__content">
            {{ content }}
        </div>
        <div class="main__right-sidebar">
            {% assign sidebar_name = page.url | remove: "/" %}
            {% for sidebar in site.sidebars %}
                {% if sidebar_name == sidebar.name %}
                    {{ sidebar.content }}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% include footer.html %}

</body>

</html>
