<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include header.html %}

    <div class="main">
        <div class="main-sidebar">
            <h3>{{ page.title }}</h3>
            <ul class="menu vertical">
                {% for menuItem in page.menu %}
                <li class="main-sidebar__menu-item"><a href="#{{menuItem.id}}">{{ menuItem.titolo }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="main-content">
            {{ content }}
        </div>
        <div class="main-right-side">
            {% for sidebar in site.sidebars %}
                {% if page.sidebar == sidebar.name %}
                    {{ sidebar.content }}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% include footer.html %}

</body>

</html>
