<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <div class="main">
       <div class="main-sidebar">
            <h3>Ultime News</h3>
            <ul class="menu vertical">
                {% for post in site.posts %}
                <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="main-content">
            {{ content }}
        </div>
        <div class="main-right-side">
            <a href="/" class="button">Ordina il tuo vinile</a>
        </div>
    </div>

    {% include footer.html %}

</body>

</html>
